.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 5rem);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        max-width: 2500px;
        max-height: 1500px;
        margin-top: 1.5rem;
    }
}

.hero {
    max-width: 600px;
    margin-top: 2rem;

    > span {
        font-size: 1.5rem;
        line-height: 4.5rem;
        font-weight: 900;
        
    }

    h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 900;
        margin-top: 0.3rem;
    }
}